@model IEnumerable<CafeXperienceApp.Models.TipoUsuario>

@{
    ViewData["Title"] = "Index";
}

<section style=" padding-right: 50px; padding-left: 50px;">
    <h1>Tipo de Usuario</h1>

    <p style="text-align: right;">
        <a class="btn btn-info" asp-action="Create">Crear Tipo de Usuario</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @{
                            if (item.Estado == "a")
                            {
                                <p>Activo</p>
                            }
                            if (item.Estado == "i")
                            {
                                <p>Inactivo</p>
                            }
                            if (item.Estado == "b")
                            {
                                <p>Bloqueado</p>
                            }
                        }
                    </td>
                    <td>
                        <a class="btn btn-success"  asp-action="Edit" asp-route-id="@item.IdTipoUsuarios">Editar</a> |
                        @* <a asp-action="Details" asp-route-id="@item.IdTipoUsuarios">Details</a> | *@
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdTipoUsuarios">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>
